@model RoleUpdateViewModel
@{
    ViewData["Title"] = "Details";
}

<h1>Role Details</h1>

<div class="row">


    <div class="col-6">
       
            <partial name="PartialViews/CreateEditPartialView" model="@Model" />
    </div>
     <div>
        <a asp-action="Update" asp-route-id="Id">Edit</a>
        <a asp-action="Index" class="btn btn-light">Back to List</a>


     </div>
           
    <div>
    </div>

