
@model UserUpdateViewModel

<h1> User Details</h1>
<br />
<br />

<div class="row">
    <div class="col-12">
        <form asp-action="Update" asp-controller="User">
            <input hidden asp-for="Id"/>
            <div class="form-group">
                <label class="col-form-label" asp-for="@Model.UserName">User Name</label>
                <input type="text" asp-for="@Model.UserName" class="form-control"   />


            </div>
            <br/>
            <br/>
            <div>
                <input type="submit" value="Save" class="btn btn-success" />
                <a asp-action="Index" class="btn btn-light">Back to List</a>


            </div>
        </form>
      

    </div>
</div>





    